.card_wrap {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
}

.card_content {
    min-width:200px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    font-size: 14px;
    select {
        height: 30px;
    }
}

.card_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_image img{
    width: 100px;
}

.limit_wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 15px;
    .limit_info_title {
        text-align: left;
        display: flex;
        align-items: center;
        .limit_info_title_text {
            // font-size: 30px;
        }
    }
    .limit_info {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:nth-last-child(1){
            justify-content: center;
        }
    }
    .errorText {
        color: red;
    }
    .submitButton {
        justify-content: flex-end !important;
        margin-top: 60px;
    }
}

.blue_text {
    color: #3f51b5;
    display: flex;
    span {
        align-items: center;
    }
}

.contentHtml {
    text-align: center;
}